:root {
  --font-size-100: 11px;
  --font-size-200: 12px;
  --font-size-300: 14px;
  --font-size-400: 16px;
  --font-size-500: 18px;
  --font-size-600: 20px;
  --font-size-700: 24px;
  --font-size-800: 28px;
  --font-size-900: 36px;
}
